{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "c",
          "cpp",
          "haskell",
          "javascript",
          "css",
          "markup",
          "python",
          "bash",
          "java",
          "typescript"
        ],
        "css": true
      }
    ]
  ]
}
